<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="text-center">Выберите панораму</h3>

    <form>
      <div class="form-group">
        <input type="text" placeholder="Название" name="name" [(ngModel)]="args">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="checkbox" name="check" [(ngModel)]="check"> Ручное вращение
        </label>
      </div>
    </form>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Название</th>
          <th>Скорость вращения</th>
          <th>Ручное вращение</th>
          <th>Ссылка</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of panoramas | nameFilter:args | checked:check">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.rotationSpeed}}</td>
          <td>{{item.manualRotation}}</td>
          <td>
            <a [routerLink]="['/player/', item.id]">Перейти</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>